In [1]:
## this should load a dataframe, which col1 being the documents and col2 being the labels.
import sys
sys.path.append("../")
from beta_nlp.utils.data_util import get_raw_extended_promed_df
data_df_extended = get_raw_extended_promed_df()
data_df_extended.name = "extended_promed"
len(data_df_extended.index)

found 3430 files
Remain 3377 files after filter_out with alerting
found files: 3377
found 3430 files
Remain 53 files after filter_in with alerting
found files: 53
found 3862 files
found files: 3862

7292

In [63]:
data_df_extended.labels = data_df_extended.labels.apply(lambda x: 1 if x == 2 else x )

In [8]:
data_df_extended.labels.unique()

array([1, 0])

In [4]:
from os import listdir
from os.path import isfile, join
import codecs
import pandas as pd

data_path = "/home/zm324/workspace/doc_cls/datasets/bbc/"
topics  = listdir(data_path)
docfiles = []
for topic_path in topics:
    docfiles += [join(data_path,topic_path,f) for f in listdir(join(data_path,topic_path)) if isfile(join(data_path,topic_path, f))]
print(f" Find {len(docfiles)} docs")
docs = []
for doc_file in docfiles:
    with codecs.open(doc_file, "r", encoding="utf-8", errors="ignore") as f:
        lines = f.readlines()
        doc_string = " \n ".join(lines)
    docs.append(doc_string)
print(f" Read {len(docs)} docs")

 Find 2225 docs
 Read 2225 docs

In [10]:
len(docfiles)

15437

In [9]:
data_path = "/home/zm324/workspace/doc_cls/datasets/Reuters21578-Apte-90Cat/training/"
topics  = listdir(data_path)
docfiles = []
for topic_path in topics:
    docfiles += [join(data_path,topic_path,f) for f in listdir(join(data_path,topic_path)) if isfile(join(data_path,topic_path, f))]
print(f" Find {len(docfiles)} docs")

data_path = "/home/zm324/workspace/doc_cls/datasets/Reuters21578-Apte-90Cat/test/"
topics  = listdir(data_path)
for topic_path in topics:
    docfiles += [join(data_path,topic_path,f) for f in listdir(join(data_path,topic_path)) if isfile(join(data_path,topic_path, f))]
print(f" Find {len(docfiles)} docs")

for doc_file in docfiles:
    with codecs.open(doc_file, "r", encoding="utf-8", errors="ignore") as f:
        lines = f.readlines()
        doc_string = " \n ".join(lines)
    if len(doc_string)>10:
        docs.append(doc_string)
print(f" Read {len(docs)} docs")

 Find 11413 docs
 Find 15437 docs
 Read 17662 docs

In [17]:
data_path = "/home/zm324/workspace/doc_cls/datasets/Reuters21578-Apte-90Cat/training/"
topics  = listdir(data_path)
# for topic_path in topics:
#     docfiles += [join(data_path,topic_path,f) for f in listdir(join(data_path,topic_path)) if isfile(join(data_path,topic_path, f))]
# print(f" Find {len(docfiles)} docs")

# for doc_file in docfiles:
#     with codecs.open(doc_file, "r", encoding="utf-8", errors="ignore") as f:
#         lines = f.readlines()
#         doc_string = " \n ".join(lines)
#     if len(doc_string)>10:
#         docs.append(doc_string)
topics

['ship',
 'coffee',
 'instal-debt',
 'wheat',
 'palmkernel',
 'oilseed',
 'hog',
 'propane',
 'sugar',
 'livestock',
 'nickel',
 'trade',
 'potato',
 'pet-chem',
 'cpi',
 'rapeseed',
 'sunseed',
 'crude',
 'corn',
 'tea',
 'cotton-oil',
 'income',
 'dmk',
 'soybean',
 'castor-oil',
 'yen',
 'groundnut',
 'coconut',
 'oat',
 'naphtha',
 'heat',
 'jet',
 'lin-oil',
 'orange',
 'coconut-oil',
 'reserves',
 'veg-oil',
 'lead',
 'rand',
 'cotton',
 'fuel',
 'rape-oil',
 'soy-meal',
 'silver',
 'housing',
 'carcass',
 'retail',
 'acq',
 'iron-steel',
 'dlr',
 'rye',
 'sun-oil',
 'palladium',
 'wpi',
 'nat-gas',
 'copra-cake',
 'gas',
 'earn',
 'strategic-metal',
 'rice',
 'money-fx',
 'jobs',
 'barley',
 'rubber',
 'l-cattle',
 'cocoa',
 'sun-meal',
 'gnp',
 'nzdlr',
 'cpu',
 'lei',
 'grain',
 'soy-oil',
 'tin',
 'nkr',
 'ipi',
 'interest',
 'sorghum',
 'money-supply',
 'groundnut-oil',
 'lumber',
 'unknown',
 'zinc',
 'bop',
 'meal-feed',
 'dfl',
 'platinum',
 'gold',
 'copper',
 'alum',
 'palm-oil']

In [66]:
labels = [0]*len(docs)

In [67]:
data_df_extended.columns

Index(['docs', 'labels'], dtype='object')

In [68]:
df = pd.DataFrame({"docs":docs,"labels":labels})
data_df_25k =  data_df_extended.append(df)

In [69]:
from sklearn.utils import shuffle
data_df_25k = shuffle(data_df_25k).reset_index()
data_df_25k

       index                                               docs  labels
0       4130  \n \n \r\n \n CFTC APPROVES MGE CORN SYRUP FUT...       0
1       1904  Koubek suspended after drugs test\n \n \n \n S...       0
2      13904  \n \n \r\n \n DANISH CROPS TWO WEEKS BEHIND, O...       0
3       8056  \n \n \r\n \n PHILIP CROSBY <PCRO> SEES LOWER ...       0
4      14238  \n \n \r\n \n IRAQI TROOPS REPORTED PUSHING BA...       0
...      ...                                                ...     ...
24949  11317  \n \n \r\n \n U.S. CORN, SORGHUM PAYMENTS 50-5...       0
24950   5935  \n \n \r\n \n AERO SERVICES <AEROE> IN PACT FO...       0
24951   1517  \n \n \n \n \n \n E. COLI O157, TOURIST AREA -...       1
24952  15942  \n \n \r\n \n LIFETIME CORP <LFT> YEAR MARCH 2...       0
24953  13020  \n \n  INDIANA <PIN> TO REDEEM DOUBLE-DIGIT DE...       0

[24954 rows x 3 columns]

In [70]:
data_df_25k["flag"] = None
data_df_25k.head()

   index                                               docs  labels  flag
0   4130  \n \n \r\n \n CFTC APPROVES MGE CORN SYRUP FUT...       0  None
1   1904  Koubek suspended after drugs test\n \n \n \n S...       0  None
2  13904  \n \n \r\n \n DANISH CROPS TWO WEEKS BEHIND, O...       0  None
3   8056  \n \n \r\n \n PHILIP CROSBY <PCRO> SEES LOWER ...       0  None
4  14238  \n \n \r\n \n IRAQI TROOPS REPORTED PUSHING BA...       0  None

In [71]:
train_n = int(len(data_df_25k.index)*0.8)
test_n = len(data_df_25k.index) - train_n
valid_n = train_n - int(train_n*0.8)
data_df_25k.iloc[:train_n-valid_n]["flag"]="train"
data_df_25k.iloc[train_n-valid_n:train_n]["flag"]="valid"
data_df_25k.iloc[train_n:]["flag"]="test"

<ipython-input-71-57e883f8af77>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_df_25k.iloc[:train_n-valid_n]["flag"]="train"
<ipython-input-71-57e883f8af77>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_df_25k.iloc[train_n-valid_n:train_n]["flag"]="valid"
<ipython-input-71-57e883f8af77>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_df_25k.iloc[train_n:]["flag"]="test"

In [72]:
data_df_25k.flag.value_counts()

train    15970
test      4991
valid     3993
Name: flag, dtype: int64

In [53]:
data_df_25k = data_df_25k[["docs","labels","flag"]]

In [54]:
data_df_25k.head()

                                                docs  labels   flag
0      Funeral begins for 4 slain Oakland, police...       0  train
1  \r\n \n Archive Number 19990925.1710 \r\n \n P...       1  train
2  \n \n \r\n \n HUSKY <HYO> SETS MEETING TO APPR...       0  train
3  \n \n  <WAXM> SELLS CONVERTIBLE DEBENTURES\r\n...       0  train
4  \n \n \r\n \n U.S. EXPORT INSPECTIONS, IN THOU...       0  train

In [104]:
data_df_25k.to_csv("../data/promed_25k.csv")

In [100]:
data_df_25k[data_df_25k["flag"]=="test"]["labels"].value_counts()

0    4294
1     697
Name: labels, dtype: int64

In [101]:
data_df_25k[data_df_25k["flag"]=="train"]["labels"].value_counts()

0    13797
1     2172
Name: labels, dtype: int64

In [102]:
data_df_25k[data_df_25k["flag"]=="valid"]["labels"].value_counts()

0    3432
1     561
Name: labels, dtype: int64

In [103]:
len(data_df_25k.index)

24953

In [95]:
import numpy as np
data_df_25k[data_df_25k["docs"].isnull()]

Empty DataFrame
Columns: [index, docs, labels, flag]
Index: []

In [99]:
data_df_25k.iloc[2179]

index                                                  5208
docs      \n \n \r\n \n AMERITRUST <AMTR> SELLS TWO MLN ...
labels                                                    0
flag                                                  train
Name: 2180, dtype: object

In [98]:
data_df_25k = data_df_25k.drop(2179)